# Служебные файлы Visual Studio
.vs/
*.user
*.suo
*.userosv
*.sln.docstates

# Папки сборки
x64/
x86/
Debug/
Release/
bin/
obj/

# Результаты выполнения проекта
results/*.csv

# Скомпилированные файлы
bison_rescue